@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');

template {
    padding: 0;
}
body {
    font-family: 'K2D', sans-serif;
    background-image: url(./assets/background.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* margin-top: 10em; */
    margin-left: 0;
    overflow-x: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}
.bg-home {
    align-items: center;
    width: 100vw;
    margin: 0;
    display: auto;
}
.navbar {
    overflow: auto;
    position: fixed;
    background-color: #3333A3;
    top: 0;
    width: 100%;
    color: white;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.navbar p {
    float: right;
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    margin: 0;
    font-size: 18px;
}
.navtop {
    padding-top: 2em;
}
a {
    color: white;
}
.navhover a:hover:not([disabled]) {
    color: #FFA21A;
    transition: 0.25s;
}
.router-link-active {
    color: #FFCB4C;
}
button {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    color: white;
}
button:hover:not([disabled]) {
    background-color: #FFA21A;
    color: white;
    transition-duration: .1s;
}
button:active:not([disabled]){
    background-color: #3333A3;
    color: white;
    transition-duration: .1s;
}
.button-18 {
    align-items: center;
    background-color: #5C5CFF;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}
.button-18:disabled {
    background-color: #c2c2ff;
}
.subText{
    color: gray;
    text-align: center;
}
.negative {
    background-color: #fff3d5;
    color: orangered;
}
hr {
    border: 1px solid #5C5CFF;
}
@media only screen and (min-width: 1000px) {
    .dropdown .dropbtn{
        display: none;
    }
}
.dropdown-content {
    display: inline;
}
/* -------- Drop down ----------- */

@media only screen and (max-width: 1000px) {
    .dropdown {
        float: right;
        overflow: hidden;
    }

    .dropdown {
        border: none;
        outline: none;
        color: white;
        /* padding: 10px 10px; */
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    /* .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: red;
    } */

    .dropdown-content {
        display: none;
        /* position: absolute; */
        /* background-color: #f9f9f9; */
        /* min-width: 160px; */
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        /* color: black; */
        /* padding: 10px 10px; */
        text-decoration: none;
        display: block;
        text-align: left;
    }

    /* .dropdown-content a:hover {
        background-color: #ddd;
    } */

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/* profile account */
.action {
    position: fixed;
    top: 12px;
    right: 0px;
  }
  .action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 40px;
    /* height: 50%; */
    object-fit: cover;
  }
  
  .action .menu {
    position: absolute;
    top: 120px;
    right: 20px;
    padding: 10px;
    background: #ECECFE;
    width: 150px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.075);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  
  .action .menu.active {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
  
  .action .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: #ECECFE;
    transform: rotate(45deg);
  }
  
  .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    font-weight: 500;
    color: rgb(0, 0, 0);
    line-height: 1.5em;
  }
  
  .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
  }
  
  .action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    /* opacity: 0.5; */
    transition: 0.5s;
  }
  
  .action .menu ul li:hover img {
    opacity: 1;
  }
  
  .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: 0.25s;
  }
  
  .action .menu ul li:hover a {
    color: #FFA21A;
  }